/bin/
/target/
/.classpath
/.project

.DS_Store
*.class
*.bam
*.bai
*.secram
*.bai
*.cram
*.oldsecram
*.oldencsecram
*.newencsecram
*.newsecram
*.preserve_quality
*.fa
*.fai
*.txt
*.png
*.xlsx

!SG10000001_S1_L001_R1_001.bam
!SG10000001_S1_L001_R1_001.bam.bai

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*cramtools-2.1.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
